*{
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.container {
  margin: 0 auto;
  width: 1000px;
}
.header .container {
  padding: 210px 0px 0px 460px;
}
.header {
  background-color: #434244;
}
body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}
.title {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  color: #00acec;
  text-transform: uppercase;
  margin-top: 0;
}
.box-list {
  font-size: 15px;
  color: #8f9194;
}
.box-list__label {
  width: 160px;
  float: left;
}
.box-list__line {
  width: 300px;
}
.box-list__value {
  width: calc(100% - 160px);
  float: right;
}
.box-list__value span {
  float: left;
  padding-right: 15px;
}
